---
import Layout from '../layouts/Layout.astro';
import SocialGrid from '../components/SocialGrid.astro';
import Card from '../components/Card.astro';
import cvData from '../data/cv.json';
export const prerender = true;
---

<Layout title="Welcome to Astro.">
	<main>
		<div>
			<img class="profile-img" src="public/profile.jpg" alt="Jeremy Georges-Filteau" width="200" height="200" />
			
			
			<div class="about">
				<h1>About me</h1>
				<p>
					I'm Jeremy Georges-Filteau, a Machine Learning Engineer and Computational Biologist from Québec city, Canada.
				</p>
			</div>
		</div>
		
		
		<ul role="list" class="link-card-grid">
			<Card
				href="cv"
				title="CV"
				body="You can find my CV here."
			/>
		</ul>
		<SocialGrid items={cvData.links}/>
	</main>
</Layout>

<style>
	body {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.profile-img {
		border-radius: 50%;
		float: left;
		margin-right: 25px;
	}

	.about {
		margin-left: 25px;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(2, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 50px 0 0 0;
	}
</style>
