---
const { row } = Astro.props;
---

<tr>
	<td class="date-col">{row.date}</td>
	<td><a href={row.url}><b>{row.title}</b></a> {row.description}</td>
</tr>
<style>
	table {
		width: 100%;
		table-layout: fixed;
	}

	td {
		padding-right: 0.5em;
		vertical-align: top;
	}

	.date-col {
		width: 15%;
	}
</style>
