---
const { items } = Astro.props;
---

<ul class="list-grid">
	{items.map((item, index) => (
		<li><a href={item.url} aria-label={item.title}><!-- Performance: Add lazy loading and dimensions to reduce Cumulative Layout Shift (CLS) and improve LCP -->
					<img src={item.icon_url ? item.icon_url : `https://cdn.simpleicons.org/${item.icon}/${item.color}`} alt="" aria-hidden="true" loading="lazy" width="48" height="48" /></a></li>
	))}
</ul>
<style>
	ul {
		list-style: none;
		
	}
	li {
		font-size: 0.9em;
	}
	.list-grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		padding: 50px 0 0 0;
	}

	img {
		width: 48px;
		height: 48px;

	}
</style>
