---
import Layout from '../layouts/Layout.astro';

export const prerender = true;
---

<Layout title="Welcome to Astro.">
	<main>
        <slot/>
	</main>
</Layout>

<style is:global>

	main {
		margin: auto;
		padding: 1em;
		max-width: 8.5in;
	}

    blockquote {
        margin: 0;
        padding: 0;
    }

    blockquote p {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
		padding: 0;
    }

</style>
